:root {
	--primary-color: #f9f9f9;
	--secondary-color: #f4c430;
	--third-color: #e8d630;
	--fourth-color: #ddd;
	--fifth-color: #000;
	--sixth-color: #0b3d91;
	--seventh-color: #d2e9ff;
	--eighth-color: #FF3028;
	--ninth-color: #1b6e31;
	--tenth-color: #2b66dd;
	--eleven-color: #f0f0f0;
	--twelveth-color: #cfcfcf;
}